[submodule "examples/deps/TimerThread"]
	path = examples/basic/deps/TimerThread
	url = https://github.com/Clovel/TimerThread.git
[submodule "examples/deps/can-ip"]
	path = examples/basic/deps/can-ip
	url = https://github.com/Clovel/can-ip
